# /etc/audit/auditd.conf — managed by Ansible (linux/auditd)
log_file = {{ auditd_log_file }}
log_format = ENRICHED
log_group = root
priority_boost = 4
flush = INCREMENTAL_ASYNC
freq = 50
num_logs = {{ auditd_num_logs }}
disp_qos = lossy
dispatcher = /sbin/audispd
name_format = NONE
max_log_file = {{ auditd_max_log_file }}
max_log_file_action = {{ auditd_max_log_file_action }}
space_left = 75
space_left_action = {{ auditd_space_left_action }}
verify_email = yes
action_mail_acct = root
admin_space_left = 50
admin_space_left_action = {{ auditd_admin_space_left_action }}
disk_full_action = SUSPEND
disk_error_action = SUSPEND
tcp_listen_queue = 5
tcp_max_per_addr = 1
tcp_client_max_idle = 0
enable_krb5 = no
